.footer {
  padding: 77px 0 80px 0;
  color: $white;
  background-color: #1f1e1e;

  @include viewport--lg {
    padding: 50px 0 30px 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.footer__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include viewport--sm {
    flex-direction: column;
  }
}

.footer__item {
  b {
    @include roboto-m;
    @include font(14, 18);
    display: block;
    margin-bottom: 5px;
  }

  p {
    @include roboto-r;
    @include font(14, 18);
    margin: 0 0 5px 0;
  }

  a {
    @include roboto-r;
    @include font(14, 18);
    margin-bottom: 5px;
    display: block;
    text-decoration: underline;

    @include not-hover;

    &:hover,
    &:focus {
      @include hover;
      color: $red;
    }
  }

  @include viewport--av {
    margin-bottom: 2%;
  }

  @include viewport--sm {
    margin-bottom: 5%;
  }
}

.footer__item-agency{
  width: 20%;

  @include viewport--lg {
    width: 33%;
  }

  @include viewport--av {
    width: 50%;
  }

  @include viewport--sm {
    width: 100%;
  }
}

.footer__item-address {
  width: 15%;

  @include viewport--lg {
    width: 33%;
  }

  @include viewport--av {
    width: 50%;
  }

  @include viewport--sm {
    width: 100%;
  }
}

.footer__item-booking {
  width: 22%;

  a {
    padding-left: 30px;
    text-decoration: none;

    @include viewport--sm {
      padding-left: 0;
    }
  }

  @include viewport--lg {
    width: 33%;
  }

  @include viewport--av {
    width: 50%;
  }

  @include viewport--sm {
    width: 100%;
  }
}
