.logo {
  display: flex;
  //justify-content: space-between;
  width: calc(285 * 100% / 1120);
  align-items: center;

  &--footer {
    width: 25%;
    margin: 0 auto 69px;
  }
}

.logo__link {
  width: 25%;
  margin-right: 3%;
}

.logo__text {
  width: 75%;

  p + span {
    @include roboto-r;
    @include font(18, 21);
  }
}

.logo__name {
  @include pt-serif-b;
  @include font(19, 26);
  margin: 0;
  padding: 0;
}
