.main-directions {
  padding: 30px 0 0 0;
  width: 100%;
  min-height: 582px;

  color: $white;

  background-image:
      url("../img/main-directions/background-img.jpg");
  //background-image:
  //  linear-gradient(to top,rgba(136,98,57, 0.7),
  //    rgba(136,98,57, 0.7)),
  //  url("../img/main-directions/background-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //background-color: rgba(136,98,57, 0.7);
  background-color: #886239;
  background-blend-mode: color-burn;
}

.main-directions__title {
  @include roboto-m;
  @include font(36, 47);
  width: 36%;
  margin: 0 auto 52px;

  @include viewport--lav {
    width: 40%;
  }

  @include  viewport--lg {
    width: 100%;
    text-align: center;
  }

  @include viewport--xs {
    @include font(23, 33);
  }
}

.main-directions__list {
  @include list-reset;
  margin: 0 0 0 -55px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @include viewport--sav {
    margin: 0 0 0 -30px;
  }
}

.main-directions__item {
  width: calc(100% / 4 - 55px);
  margin-left: 55px;
  margin-bottom: 65px;

  svg {
    fill: transparent;
  }

  @include viewport--sav {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @include viewport--xs {
    width: calc(100% / 1 - 30px);
  }

  svg {
    @include viewport--xs {
      width: 65px;
      height: 65px;
    }
  }
}
