.offers {
  padding: 100px 0;

  @include  viewport--lg {
    padding: 50px 0;
  }
}

.offers__title {
  @include roboto-b;
  @include font(34, 42);
  width: 41%;
  margin: 0 auto 40px;

  @include viewport--lav {
    width: 45%;
  }

  @include  viewport--lg {
    width: 100%;
    text-align: center;
  }

  @include viewport--xs {
    @include font(23, 33);
  }
}

.offers__list {
  @include list-reset;
  padding-bottom: 82px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 48px 32px;

  border-bottom: 1px solid #d9d9de;

  &--large {
    grid-template-areas:
      "sm1 sm2 big1 big1"
      "sm3 sm4 big1 big1"
      "big2 big2 sm5 sm6"
      "big2 big2 sm7 sm8";

    @include viewport--av {
      grid-template-areas:
      "sm1 sm2"
      "sm3 sm4"
      "big1 big1"
      "big1 big1"
      "sm5 sm6"
      "sm7 sm8"
      "big2 big2"
      "big2 big2";
    }

    @include viewport--xs {
      grid-template-areas:
      "sm1"
      "sm2"
      "sm3"
      "sm4"
      "big1"
      "sm5"
      "sm6"
      "sm7"
      "sm8"
      "big2";
    }
  }

  @include viewport--av {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 50px;
  }

  @include viewport--xs {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 30px;
  }
}

.offers__item-big-1 {
  grid-area: big1;
}

.offers__item-big-2 {
  grid-area: big2;
}

.offers__item-sm-1 {
  grid-area: sm1;
}

.offers__item-sm-2 {
  grid-area: sm2;
}

.offers__item-sm-3 {
  grid-area: sm3;
}

.offers__item-sm-4 {
  grid-area: sm4;
}

.offers__item-sm-5 {
  grid-area: sm5;
}

.offers__item-sm-6 {
  grid-area: sm6;
}

.offers__item-sm-7 {
  grid-area: sm7;
}

.offers__item-sm-8 {
  grid-area: sm8;
}

.offers__link {
  position: relative;
  display: block;
  height: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.offers__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 13px 19px 24px;
  display: flex;
  flex-direction: column;

  color: $white;

  h3 {
    margin: 0;
    padding: 0;
  }

  &--small {
    h3 {
      @include roboto-m;
      @include font(18, 23);
    }

    p {
      @include roboto-b;
      @include font(16, 20);
      margin: auto 0 0 0;
    }
  }

  &--big {
    h3 {
      @include roboto-m;
      @include font(24, 31);
      margin-bottom: 15px;
    }

    p {
      @include roboto-r;
      @include font(16, 20);
      margin: 0;
    }

    h3 ~ p {
      margin-bottom: 15px;
    }

    p:last-child {
      @include roboto-b;
      @include font(16, 20);
      margin: auto 0 0 0;
    }
  }

}

//.page-gallery__img {
//  object-fit: cover;
//  width: 100%;
//  height: 100%;
//}
