.promo {
  width: 100%;
  margin-top: -166px;
  padding-top: 197px;
  min-height: 940px;
  background-image:
    url("../img/promo/background-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include viewport--sav {
    min-height: auto;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 780px;

  @include viewport--sav {
    min-height: 600px;
  }

  @include viewport--sm {
    min-height: 450px;
  }
}

.promo__title {
  @include pt-serif-b;
  @include font(90, 117);
  width: 85%;
  margin: 0 auto;
  padding: 0;

  @include viewport--lav {
    @include font(80, 97);
  }

  @include viewport--lg {
    @include font(63, 87);
    margin-bottom: 80px;
  }

  @include viewport--sav {
    font-size: 35px;
    line-height: 47px;
    margin-left: 0;
    margin-bottom: 40px;
    width: 45%;
  }

  @include viewport--xs {
    width: 100%;
  }
}

.promo__text {
  @include roboto-b;
  @include font(20, 28);
  width: 40%;
  margin-top: auto;
  padding: 0;

  @include viewport--lav {
    @include font(18, 24);
  }

  @include viewport--lg {
    @include font(16, 22);
    width: 66%;
    margin-top: 0;
    margin-bottom: auto;
  }

  @include viewport--sav {
    width: 45%;
    color: $white;
  }

  @include viewport--xs {
    width: 100%;
  }
}

.promo__link {
  margin-bottom: 60px;
}

.promo__arrow {
  margin: 0 auto;
}

.promo__arrow-link {
  @include not-hover;

  svg {
    fill: transparent;
    stroke: white;


    //&:hover .promo__arrow-path,
    //&:focus {
    //  @include hover;
    //  stroke: $red;
    //}
  }

  &:hover svg,
  &:focus svg {
    @include hover;
    fill: rgba(255, 50, 50, 0.5);
  }
}
