.tours {
  padding: 100px 0 68px;

  @include  viewport--lg {
    padding: 50px 0 50px;
  }
}

.tours__list {
  @include list-reset;
  margin: 0 0 0 -30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.tours__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 32px;
  border: 1px solid #d9d9de;

  @include not-hover;

  &:hover,
  &:focus {
    @include hover;
    box-shadow: -2px 1px 15px 0 #a9adb5,
    2px 15px 25px 0 #a9adb5;
  }

  @include viewport--av {
    width: calc(100% / 3 - 30px);
  }

  @include viewport--sav {
    width: calc(100% / 2 - 30px);
  }

  @include viewport--xs {
    width: calc(100% / 1 - 30px);
  }
}

.tours__title{
  margin-left: 20px;
}

.tours__link {
  width: 100%;

  img {
    @include viewport--sav {
      width: inherit;
    }
  }
}
